
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
}
</style>
</head>
<body>

<table style="width:100%">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th> 
    <th>Email_address</th>
     <th>contact_no</th>
      <th>address</th>
       <th>username</th>
        <th>password</th>
         <th>gender</th>
         <th>experience</th>
          <th>qualification</th>
           <th>coding_language</th>
           <th> button </th>
  </tr>
  <tr *ngfor = 'let emp of d'>
    <td> {{emp.firstName}}  </td>
    <td> {{emp.lastName}} </td>
    <td> {{emp.emailAdress}} </td>
     <td> {{emp.contactNo}} </td>
      <td> {{emp.address}} </td>
       <td> {{emp.password}}</td>
        <td>  {{emp.gender}}</td>
         <td> {{emp.experience}} </td>
          <td>  {{emp.experience}}</td>
           <td> {{emp.qualification}} </td>
            <td> {{emp.coding_languages}} </td>
            <td> <button class="editbtn">edit</button>
            <br><br> <button class="deletebtn">delete</button> </td>
  </tr>
  
</table>

</body>
</html>
